.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: inter;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.loginForm > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}
.loginForm > input {
  min-width: 380px;
  height: 30px;

  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid;
  border-radius: 2px;
  font-size: 15px;
}
.submitForm{
  min-width: 380px;
  height: 30px;
}